<div class="d-flex">
  <p class="text-muted">Item Per Page :</p>
  <mat-form-field>
    <mat-select [(value)]="repoPerPage" (selectionChange)="repoPerPageChange()">
      <mat-option [value]="2"> 2 </mat-option>
      <mat-option [value]="5"> 5 </mat-option>
      <mat-option [value]="10"> 10 </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="d-flex">
  <button
    mat-flat-button
    color="warn"
    (click)="fetchRepoFromServer('prev')"
    [disabled]="currentPageNumber == 1"
  >
    Previous
  </button>
  <button
    mat-raised-button
    (click)="goToPageNo(number)"
    class="mx-1 text-center"
    *ngFor="let number of pageNumbers"
    [ngClass]="{ 'active-button': number == currentPageNumber }"
  >
    {{ number }}
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="fetchRepoFromServer('next')"
    [disabled]="currentPageNumber == noOfPage"
  >
    Next
  </button>
</div>
